.table{
  margin-top: 100%;
  height: 280px;
  width: 600px;
  margin: auto;
}

.tblhead{
  font-weight: bolder;
  font-size: calc(12px + 2vmin);
}

.notes{
  font-size: small;
  line-height: 25%;

}

.App {
  text-align: center;
  background-color: #FF7900;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  font-weight: bold;
}
